$primary: #1f1f1f;
$secondary: #262626;
$alert: #323232;
$text_primary: #f8fafc;
$text_secondary: #7f7f7f;
$divider: rgba(248, 250, 252, 0.2);
$divider_faint: rgba(248, 250, 252, 0.03);
$divider_fainter: rgba(248, 250, 252, 0.1);
$primary_faint: rgba(31, 31, 31, 0.2);
