@import "../mixins";
@import "../colors";

.main {
  @include flexmixin(row, no-wrap, flex-start, space-between, 0);
  background-color: $primary;

  .left_sect,
  .right_sect {
    height: 100vh;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .left_sect {
    width: calc(100vw - 60%);
    border: 0;
    border-right: 1px solid $divider_faint;

    .invs_titles {
      margin-top: 1.25rem;
      font-size: 1.25rem;
      color: $text_secondary;
    }

    .title {
      font-size: 0.875rem;
      margin-top: 1.5rem;
    }
  }

  .right_sect {
    width: calc(100vw - 38%);

    .investments_title {
      margin-top: 6rem;
      margin-bottom: 0.5rem;
      margin-left: 2rem;
    }
  }
}
